<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozhi.zhlw.admin.mapper.UserMapper">

    <select id="findAllByUserName" resultType="com.tuozhi.zhlw.admin.entity.SysUserEntity" parameterType="String">
        select
                u.id as id,
                u.login_name as loginName,
                u.user_name as userName,
                d.id as deptId,
                d.DEPT_WORK as deptWork,
                d.dept_name as deptName,
                u.valid_status as validStatus
        from SYS_USERS u left join  SYS_DEPT d
                            on d.id = u.dept_id where 1=1
     <if test="userName != null">
     AND (USER_NAME LIKE '%' || #{userName,jdbcType=VARCHAR} || '%' OR LOGIN_NAME LIKE '%' || #{userName,jdbcType=VARCHAR} || '%')
     </if>
   </select>
   <select id="findAllByUserNameAndDeptId" resultType="com.tuozhi.zhlw.admin.entity.SysUserEntity" parameterType="String">
        select
                u.id as id,
                u.login_name as loginName,
                u.user_name as userName,
                d.id as deptId,
                d.DEPT_WORK as deptWork,
                d.dept_name as deptName,
                u.valid_status as validStatus
        from SYS_USERS u left join  SYS_DEPT d
                            on d.id = u.dept_id where 1=1
     <if test="userName != null">
     AND (USER_NAME LIKE '%' || #{userName,jdbcType=VARCHAR} || '%' OR LOGIN_NAME LIKE '%' || #{userName,jdbcType=VARCHAR} || '%')
     </if>
     <if test="deptIds != null">
     AND DEPT_ID IN <foreach item="item" collection="deptIds" index="index" open="(" separator="," close=")">
					#{item}
					</foreach>
     </if>
   </select>

    <select id="getDataListByDeptAndDeptRole" resultType="com.tuozhi.zhlw.admin.entity.SysUserEntity">
        SELECT
            su.ID,
            su.LOGIN_NAME LOGINNAME,
            su.USER_NAME USERNAME,
            su.PASSWORD,
            su.DEPT_ID DEPTID,
            su.TOKEN,
            su.VALID_STATUS VALIDSTATUS,
            sd.DEPT_WORK DEPTWORK
        FROM
            "CD_SYSTEM"."SYS_USERS" su
        LEFT JOIN "CD_SYSTEM"."SYS_DEPT" sd ON sd.ID = su.DEPT_ID
        WHERE
            su.DEPT_ID IN(SELECT ID FROM "CD_SYSTEM"."SYS_DEPT" WHERE WORKFLOWDEPTROLE = #{workFlowDeptRole} CONNECT BY PRIOR PARENT_ID = ID START WITH ID = #{deptId})
    </select>

    <select id="findLoginInfo" resultType="String">
        SELECT
            WMSYS.WM_CONCAT(ID) ID
        FROM
            "CD_SYSTEM"."SYS_USERS"
        WHERE
            DEPT_ID = #{deptId,jdbcType=NUMERIC}
    </select>
</mapper>
